MONGODB_URI=mongodb+srv://app_user:change-me@cluster.example.mongodb.net/app_dictionary_nit_v01?retryWrites=true&w=majority
MONGODB_DATABASE=app_dictionary_nit_v01
MONGODB_MOVEMENTS_COLLECTION=movements
MONGODB_THIRD_PARTIES_COLLECTION=third_parties
